.copy {
	font-size: 12px;
	color: #565A60;
	font-family: Tahoma;
}
.header01 {
	font-size: 17px;
	color: #336699;
	text-decoration: none;
	font-family: Tahoma;
}
a:link {
	font-family: arial;
	color: #996600;
	text-decoration: none;
}
a:visited {
	font-family: arial;
	text-decoration: none;
	color: #996600;
}
a:hover {
	font-family: arial;
	text-decoration: none;
	color: #999999;
}
a:active {
	font-family: arial;
	text-decoration: none;
	color: #ffffff;
}
.copyright {
	font-size: 10px;
	font-family: Tahoma;
	color: #999999;
}
#Nav A {
	font-size: 11px;
	color: #996600;
	font-family: Tahoma;
}
#Nav A:visited {
	color: #996600;
}
#Nav A:hover {
	color: #999999;
	TEXT-DECORATION: none
}
/************* #code style *******************/
.code {
	background-color: #CCCCCC;
	font-family:"Courier New", Courier, monospace;
}